pre code {
  	background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

pre{
	-moz-tab-size: 2;
    -o-tab-size:   2;
    tab-size:      3;
}

.wrapper{
	align-items: center;
	float: left;
}

.wrapper section{
	float: left;
	width: 70%;
}

@media screen and (max-width: 900px)   {
    .wrapper, .wrapper section{
        width:100%;   
        float:none;
    }

}

p{
	text-align: center;
}
